/*-------------- HELP SECTION -------------- */

*{
  margin: 0;
  padding: 0;
}

#help{
  display: none;
}

#help h1{
	margin: 0;
	padding: 0;
	color: #59ab6d;
	font-family: 'Teko', sans-serif;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
}
	
#help h2{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#help h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#help p{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

#help p.imp {
	color: #fff;
	font-size: 0.8em;
	text-align: left;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}
   
#help .overlay{
	position:fixed;
	z-index: 1;    
	width: 100%;					
	height:100%;					
	margin: 0;    					
	text-align: center;
	background: #000;				
	opacity: 0.40; 									 
}
 
#help .contenair{
	position:absolute;
	z-index: 2;    
	width: 1000px;									
	height:700px;									
	left:70%;										
	top:50%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/help.png');				
	padding: none; 									
    
}
	
#help .innerbox{
	z-index: 2;
	width: 550px;	
	margin: 0px 50px 0px 400px;  
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}
	
#help .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}

#help .footspacer{
	z-index: 2;
	width: 100%;
	height: 80px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}
	
#help .footerbox{
  z-index: 2;
  width: 450px;	
  margin: 80px 0px 0px 480px;
  height: 110px;
  text-align: left; 
}

	


/*-------------- RULES SECTION -------------- */

*{
  margin: 0;
  padding: 0;
}

#rules{
  display: none;
}

#rules h1{
	margin: 0;
	padding: 0;
	color: #59ab6d;
	font-family: 'Teko', sans-serif;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
}
	
#rules h2{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#rules h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#rules p{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

#rules p.imp {
	color: #fff;
	font-size: 0.8em;
	text-align: left;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}
   
#rules .overlay{
	position:fixed;
	z-index: 1;    
	width: 100%;					
	height:100%;					
	margin: 0;    					
	text-align: center;
	background: #000;				
	opacity: 0.40; 									 
}
   
#rules .contenair{
	position:absolute;
	z-index: 2;    
	width: 1000px;									
	height:700px;									
	left:70%;										
	top:50%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/rules.png');				
	padding: none; 									
    
}
	
#rules .innerbox{
	z-index: 2;
	width: 550px;	
	margin: 0px 50px 0px 400px;  
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}
	
#rules .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}

#rules .footspacer{
	z-index: 2;
	width: 100%;
	height: 80px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}
	
#rules .footerbox{
  z-index: 2;
  width: 450px;	
  margin: 80px 0px 0px 480px;
  height: 110px;
  text-align: left; 
}

/*-------------- CMDS SECTION -------------- */

*{
  margin: 0;
  padding: 0;
}

#cmds{
  display: none;
}

#cmds h1{
	margin: 0;
	padding: 0;
	color: #59ab6d;
	font-family: 'Teko', sans-serif;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
}
	
#cmds h2{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#cmds h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#cmds p{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

#cmds p.imp {
	color: #fff;
	font-size: 0.8em;
	text-align: left;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}
   
#cmds .overlay{
	position:fixed;
	z-index: 1;    
	width: 100%;					
	height:100%;					
	margin: 0;    					
	text-align: center;
	background: #000;				
	opacity: 0.40; 									 
}
   
#cmds .contenair{
	position:absolute;
	z-index: 2;    
	width: 1000px;									
	height:700px;									
	left:70%;										
	top:50%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/cmds.png');				
	padding: none; 									
    
}
	
#cmds .innerbox{
	z-index: 2;
	width: 550px;	
	margin: 0px 50px 0px 400px;  
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}
	
#rules .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}

#rules .footspacer{
	z-index: 2;
	width: 100%;
	height: 80px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}
	
#rules .footerbox{
  z-index: 2;
  width: 450px;	
  margin: 80px 0px 0px 480px;
  height: 110px;
  text-align: left; 
}


/* -------------- INFO SECTION -------------- */

*{
  margin: 0;
  padding: 0;
}

#info{
  display: none;
}

#info h1{
	margin: 0;
	padding: 0;
	color: #59ab6d;
	font-family: 'Teko', sans-serif;
	font-size: 26px;
	-webkit-font-smoothing: antialiased;
}
	
#info h2{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#info h3{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

#info p{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

#info p.imp {
	color: #fff;
	font-size: 0.8em;
	text-align: left;
	margin: auto;
	-webkit-font-smoothing: antialiased;
}
   
#info .overlay{
	position:fixed;
	z-index: 1;    
	width: 100%;					
	height:100%;					
	margin: 0;    					
	text-align: center;
	background: #000;				
	opacity: 0.40; 									 
}
   
#info .contenair{
	position:absolute;
	z-index: 2;    
	width: 1000px;									
	height:700px;									
	left:70%;										
	top:50%;										
	margin:-350px 0 0 -500px;    					
	text-align: center;
	background: url('img/svrinfo.png');				
	padding: none; 									
    
}
	
#info .innerbox{
	z-index: 2;
	width: 550px;	
	margin: 0px 50px 0px 400px;  
	text-align: left;
	background: transparent;
	-webkit-font-smoothing: antialiased;
}
	
#info .spacer{
	z-index: 2;
	width: 100%;
	height: 120px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}

#info .footspacer{
	z-index: 2;
	width: 100%;
	height: 80px;
  margin: 0;  
	text-align: left;
  background: transparent;	
}
	
#info .footerbox{
  z-index: 2;
  width: 450px;	
  margin: 80px 0px 0px 480px;
  height: 110px;
  text-align: left; 
}










