/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #1a000a;
    --loadbar-progress-color: #ff0066;
    --loadbar-height: 27px;
    --footer-font-color: #dfdfdf98;
    --footer-font-size: 24px;
    --fadeTo-Color: #222222;
}
